/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-color);
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter var(--transition-speed);
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--accent-color));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.read-the-docs {
  color: var(--text-color);
  font-family: var(--body-font);
}
