/* Header.css */
.header {
  position: fixed;
  top: 15%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 0.5rem;
  border-radius: 12px 0 0 12px;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-links li {
  font-size: 1.1rem;
}

.nav-links li a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.nav-links li a:hover {
  background-color: #ffffff;
  color: #1e2a38;
}

.nav-links li button {
  background: none;
  border: none;
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.nav-links li button:hover {
  background-color: #ffffff;
  color: #1e2a38;
}
