/* Projects.css */
.projects {
  padding: 3rem 2rem;
  background: var(--card-bg);
  margin: 2rem 0;
  border-left: 5px solid var(--accent-color);
  border-radius: 8px;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.projects-container h2 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* Ensure the project item layout allows for an image preview */
.project-item {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: var(--hover-shadow);
}

/* Image preview styling */
.project-image {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: var(--shadow);
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  margin-bottom: 1rem;
}

.project-image:hover {
  transform: scale(1.05);
  box-shadow: var(--hover-shadow);
}

.project-item h3 {
  font-family: var(--heading-font);
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.project-item p {
  font-family: var(--body-font);
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

/* Ensure links are on separate lines */
.project-item a {
  display: block;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  transition: color var(--transition-speed);
  margin-top: 0.5rem;
}

.project-item a:first-of-type {
  margin-bottom: 0.5rem;
}


.project-item a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
