/* Projects.css */

.projects {
  padding: 2rem;
  background-color: #f9f9f9;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.projects-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-item {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-item h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #007acc;
}

.project-item p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555;
}

.project-item .project-link, .project-item .github-link {
  display: block; /* Ensure each link is on its own line */
  text-decoration: none;
  color: #007acc;
  font-weight: bold;
  margin-top: 0.5rem;
}

.project-item .project-link {
  margin-bottom: 0.3rem; /* Adds space between View Project and GitHub Repository */
}

.project-item .project-link:hover,
.project-item .github-link:hover {
  text-decoration: underline;
}
